h1 {{rc.title}}
md-divider
.height-10
ul
  li {{rc.pool.costPerEntry | currency}} per bracket.
  li
    | Up to&nbsp;
    span.bold {{rc.pool.maxEntriesPerUser || '--'}}
    |  entries per person.
  li 
    span Scoring for correct picks is determined by ESPN. 
    a(target='_scoring', href='https://fantasy.espn.com/tournament-challenge-bracket/2016/en/story?pageName=tcmen%5Crules')
      | See official rules for more details.
  li Entry fees are due by the Final Four.
  li
    | Top&nbsp;
    span.bold 3
    |  brackets get paid (1st 50%, 2nd 35%, 3rd 15%).
  li Anyone can enter so long as they know a person who knows Nate Clark.

.height-10
.line-height-20
  | Any questions or concerns should be emailed to&nbsp;
  a(target='_email', href='mailto:nathandavidclark@gmail.com?subject=March+Madness') nathandavidclark@gmail.com
  |  before the first tip-off. Any disputes after the fact will be left up to the pool manager to decide.
