body
  transition opacity ease-in 0.2s
  font-family Roboto, sans-serif
body[unresolved]
  opacity 0
  display block
  overflow hidden

img.responsive
  max-width 100%

img.eliminated
  -webkit-filter grayscale(100%)
  filter grayscale(100%)
  opacity .2

.info-link
  display block

.content-grid
  display grid
  grid-gap 1rem
  margin 0
  padding 1rem

tr
  .teeny
    max-width 16px
  .tiny
        max-width 30px
  .small
    max-width 40px
  .medium
    max-width 60px
  .large
    max-width 100px

.rankings
  tr
    transform all 1s ease
    th
    td
      vertical-align baseline !important
    &.tiny
      .rank
        transform all 700ms ease
  tr:hover
    background-color rgba(0, 0, 0, 0.1) !important
  tr:nth-child(even)
    background-color rgba(0, 0, 0, 0)
  tr:nth-child(odd)
    background-color rgba(0, 0, 0, .05)
  tr.first
    font-weight bold
    .rank
      font-size 110%
  tr.second
    font-weight bold
    .rank
      font-size 110%
  tr.third
    font-weight bold
    border-bottom 2px solid rgba(green, .5)
    .rank
      font-size 110%

.payment
  cursor pointer
  .owed
    color darken(red, 20%)
  .paid
    color rgba(green, .4)

.tc-logo
  max-width 95%
  margin 0 auto
  opacity .2
  display block

.countdown-wrapper
  position relative
  min-height 60px
  .countdown
    font-size: 2.25em;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 1rem;
    transition font-size 300ms ease
    div
      font-family sans-serif
      font-weight bold
      float left
    &.xs
      font-size 2.25em
    &.sm
      font-size 3em
    &.md
      font-size 3.5em
    &.lg
      font-size 5em

.star
  cursor pointer
  color darken(#fff, 20%)
  transition all 0.2s ease
  outline none
  -webkit-focus-ring-color transparent
  outline-color transparent
  &:hover
    color #337AB7
  &.favorite
    color #337AB7
    &:hover
      color rgba(#337AB7, .4)
tr.group
  td
    .star
      cursor pointer
      color darken(#fff, 20%)
      transition all 0.2s ease
      outline none
      -webkit-focus-ring-color transparent
      outline-color transparent
      &:hover
        color rgba(#337AB7, .6)
      &.favorite
        color rgba(#337AB7, .6)
        &:hover
          color rgba(#337AB7, .4)

tr.favorite-divider
  td
    background-color #fff
    border-top 1px solid #ddd
    border-bottom 1px solid #ddd
    div
      min-height 20px
      text-align center
