header
  color #fff
  background-color #4d4d4d
  margin 0 -15px
  height 70px
  h1
    position absolute
    margin 0
footer
  color #fff
  background-color #4d4d4d
  margin 15px -15px 0
  height 30px