h1#-how-to-enter- 🎟️ How to enter?
p
  a(href='https://fantasy.espn.com/tournament-challenge-bracket/2023/en/group?redirect=tcmen%3A%2F%2Fx-callback-url%2FshowGroup%3FgroupID%3D5442411&ex_cid=tcmen2023_clipboard&groupID=5442411&groupp=bWFkbmVzczIwMjM%3D&inviteuser=e0Q2REY1NkJFLTJFNzQtNDhFRi1BREU4LTM4MUYzNjAwRTkzRH0%3D&invitesource=clipboard') Enter here on espn.com
ul
  li Group: 🍀 March Madness 2023
  li
    | Password: 
    code madness2023
p
  strong Please make sure you have joined our group WITH EACH BRACKET you wish to enter
p
  | If your bracket has not properly joined our group before tipoff, YOU'RE SHIT OUT OF LUCK.

h2#-troubleshooting ⛑️ Troubleshooting
h3#how-can-i-confirm-my-bracket-has-joined-the-group- How can I confirm my bracket has joined the group?
p
  | When you click 
  strong Join Group
  |  it should have a 
  strong Entry is in this group
  |  status like the following image.
p
  img(width='400' alt='image' src='https://user-images.githubusercontent.com/2074517/224694479-7a813074-52e7-4f22-a120-46ed071e819c.png')
h3#i-m-lost-help- I'm lost, help?!?
p
  | Please contact me via 
  a(href='mailto:nathandavidclark.mm2021@gmail.com?subject=March%20Madness%202023%20-%20Help&body=Explain%20your%20issue%20here%3A%0D%0A%0D%0A') this email link (preferred)
  |  or text if you run into any issues.
h2#-entry-checklist ✅ Entry Checklist
ul
  li You have completed your bracket
  li Your bracket has entered the group
  li You have paid for each of your entries with a note listing their names
h2#-have-fun 😃 Have Fun
p
  | Feel free to share the links below with your friends, family, and coworkers on the socials.
p
  | To enter: 
  a(href='https://bit.ly/espn-group-2023') https://bit.ly/espn-group-2023
p Happy bracketing!