extends _layouts/master

append body-content
  h1= error.status.toString() + ' ' + message
  if error.details
    h2= error.details
  pre.code #{error.stack}

append body-scripts
  script.
    $(function(){
      $('body').removeAttr('unresolved');
    });