extends _layouts/master

append header-meta
  base(href='/')

append header-title
  | n8io :: ncaa

append body-ng-controller
  - controller_name = 'Master_Controller as mc'

append body-content
  .height-15
  pre.code {{ mc.subNavItems | json }}
  ui-view