block body-subnav
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$media('gt-sm')")
    md-list
      md-item(ng-repeat='item in mc.subNavItems')
        md-button(ng-click='mc.selectSubNavItem(item)', ng-class="{'selected' : item === mc.selectedSubNavItem }")
          md-icon.avatar(md-svg-icon='{{item.avatar}}')
          | {{item.label}}