block body-subnav
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
    md-list
      md-item(ng-repeat='item in mc.subNavItems')
        md-button(ui-sref='{{::item.id}}', ui-sref-active='selected')
          md-icon.avatar(md-svg-icon='{{::item.avatar}}')
          span {{::item.label}}