block header-meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible',content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='n8io')
  meta(description='Get your picks in. Come and join our pool.')
  meta(property='og:title', content='March Madness')
  meta(property='og:description', content='Get your picks in. Come and join our pool.')
  meta(property='og:url', content='https://tournament-challenged.herokuapp.com')