block header-stylesheets
  //- Slew of icon formats here
  link(rel='icon', href='#{CDN("/statics/img/favicon.ico")}', type='image/png', data-id='icon-standard')
  link(rel='shortcut icon', href='#{CDN("/statics/img/favicon.png")}', type='image/png', data-id='icon-alt')
  link(rel='apple-touch-icon', href='#{CDN("/statics/img/app-touch-icon.png")}', type='image/png', data-id='icon-apple-touch')

  //- Speed things up on first load
  link(rel='dns-prefetch', href='//ajax.googleapis.com')
  link(rel='dns-prefetch', href='//fonts.googleapis.com')
  link(rel='dns-prefetch', href='//code.angularjs.org')
  link(rel='dns-prefetch', href='//netdna.bootstrapcdn.com')

  //- Bootstrap
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', id='css-bootstrap')

  //- Fontawesome
  link(rel='stylesheet', href='/statics/bower_components/fontawesome/css/font-awesome.min.css', id='css-bootstrap')

  //- Google font loader for Open Sans
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,700', data-id='css-google-font')

  //- Material
  link(rel='stylesheet', href='/statics/bower_components/angular-material/angular-material.min.css', id='css-flags')

  //- Custom app css here
  link(rel='stylesheet', href='#{CDN("/css/style.min.css")}', data-id='css-app')
